extends layout

block content
  canvas(id="confetti")
  #yes YES
  //- audio
  //-   source(src="/audio/woohoo.mp3" type="audio/mpeg")

block javascript
  script(src="/js/yes.js")
  script(src="/js/confetti.js")
